# Production
dist
.solid
.output
.vercel

# Dependencies
node_modules

# Miscs
.DS_Store
Thumbs.db
tests/*.json
vite.config.ts.*

# Prevent from committing the bundle
/packages/library/src/converter/pdfjs_bundle.ts

# dotenv
.env*
!.env.sample