/**
 * <https://github.com/catppuccin/catppuccin> > Latte
 */
html.theme-catppuccin-latte {
  --white: rgb(239, 241, 245);
  --gray: rgb(76, 79, 105);
  --subgray: rgb(92, 95, 119);
  --overlay: rgb(76, 79, 105);
  --iut: rgb(114, 135, 253);
}

html.theme-catppuccin-macchiato {
  --white: rgb(36, 39, 58);
  --gray: rgb(202, 211, 245);
  --subgray: rgb(184, 192, 224);
  --overlay: rgb(36, 39, 58);
  --iut: rgb(183, 189, 248);
}

/**
 * <https://www.nordtheme.com/>
 */
html.theme-nord-dark {
  --white: #3B4252;
  --gray: #E5E9F0;
  --subgray: #D8DEE9;
  --overlay: #2E3440;
  --iut: #88C0D0;
}

html.theme-nord-light {
  --white: #E5E9F0;
  --gray: #3B4252;
  --subgray: #434C5E;
  --overlay: #2E3440;
  --iut: #5E81AC;
}

/**
 * <https://rosepinetheme.com/>
 */
html.theme-rose-pine {
  --white: #191724;
  --gray: #e0def4;
  --iut: #eb6f92;
  --overlay: #1f1d2e;
  --subgray: #908caa;
}

html.theme-rose-pine-dawn-iris {
  --white: #907aa9;
  --gray: #faf4ed;
  --iut: #c4a7e7;
  --overlay: #1f1d2e;
  --subgray:#dfdad9;
}